
<h1>TINY APP!</h1>
<% if (!userId) {%>
  <h3><a href="/login">LOG IN!!</a></h3>
  <form action="/register" method="GET" style="margin: 30px 0 30px 0"  >
    <input type="submit" value="Register New Account" />
  </form>

<% } else { %>
  <form style="margin-bottom: 30px;" action="/logout" method="POST">
    <p>user email: <%= email %></p>
    <input style="margin-left: 20px;" id="email" type="submit" value="Sign Out" />
  </form>
<% } %>
