<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <style type="text/css">
  .back{
    background-image: src('/views/unnamed.jpg');
    background-repeat: no-repeat;
    background-position: auto;
  }
  .font{
    font-style: Verdana;
  }
  #pOne{

  }
  </style>
  <body class="back">
    <h3 class="font">This is tiny app!</h3>
    <p class="font" id="pOne">This four-day project will have you building a web app using Node. The app will allow users to shorten long URLs much like TinyURL.com and bit.ly do.

    You will build an HTTP Server that handles requests from the browser (client). Along the way you'll get introduced to some more advanced JavaScript and Node concepts, and you'll also learn more about Express, a web framework which is very popular in the Node community.</p>
    <br>
    <br>
    <br>
    <br>
    <h4 class="font">HERE ARE LINKS TO EACH PAGE</h4>
    <br>
    <p><a href='/urls/new'>New URL</a></p>
    <p><a href='/urls'>LIST OF URLS PAGE</a></p>
  </body>
</html>