<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
 <form action="/register" method="POST">
    <h3>Register Here!</h3>
    <p>
      <label for="email" style="display: block; margin: 0 14px 10px 0;">Email:
        <input id="email" type="email" name="email"
        action="" style="width:200px">
      </label>
    </p>
    <p>
      <label for="password">Password:
        <input id="password" type="password" name="password"
        action="" style="width: 200px">
      </label>
    </p>
    <p style="margin:14px 0 20px 0;">
      <label for="enter">
        <input id="enter" type="submit" value="Enter" />
      </label>
    </p>
  </form>
  </body>
</html>
