<!DOCTYPE html>
<html>
  <head>
  <body>
  <header>
      <% include ../views/partials/_header %>
    </header>
    <p>Here are all shortened URLS</p>
    <ol>
      <% for (var i in urls) { %>
        <li>
          <a href="<%= urls[i].link %>"><%=i %></a>
          <div><%= `----------`%></div>
          <a href="urls/<%= i %>"> View the url </a>
        </li>
      <% } %>
    </ol>
    <% if (userId) { %>
      <form action="urls/user" style="padding-top: 14px;">
        <label for="manage">
          <input id="manage" type="submit" value="Click to manage your links" />
        </label>
      </form>
    <% } %>

  </head>
  </body>
</html>
