<!DOCTYPE html>
<html>
  <head>

  </head>
  <style type="text/css">
    .styleOne{
      font-style: Verdana;
      color: red;
      margin: auto;
    }
    /*.padd{
      padding: 50px;
    }*/
    /*.marg{
      margin-left: 100px;
    }*/
  </style>
  <body>
    <table style="margin-left: 200px;">
    <tr>
      <th>
        <% include partials/_header.ejs %>
      </th>
    </tr>
    <tr>
      <td>
       <ul class='padd'>
        <% Object.keys(urls).forEach((item)=> { %>

          <form method="Post" action= "/urls/<%= item %>/delete" class="marg">
          <li class="styleOne"><h3><%= item %> - <%= urls[item] %></h3>
          <input type="submit" value="DELETE"></li>
          </form>
          <form method="Get" action="/urls/<%= item %>" style="margin-left:100px; padding: 10px;">
          <input type="submit" value="Edit">
          </form>
        <% }) %>
      </ul>
      </td>
    </tr>
    <tr>
      <th>
      <p class="marg"><a href="/urls/new" style="font-size: 1.5em;">Create new tiny URL</a></p>
      </th>
    </tr>

  </table>
  </body>
</html>